<div class="row main">
  <div class="col-md-3" style="padding-left:50px">
    <div style="float: left;margin-left:3px;width: auto;">
      <div class="block-content">
          <ul>
            <li class="active">
              <a href="#">My Orders</a>
            </li>
            <li>
                <a href="#">My Wishlist</a>
            </li>
            <li>
                <a href="#">My Profile</a>
            </li>
            <li>
                <a href="#">Logout</a>
            </li>
          </ul>
      </div>
    </div>
  </div>
  <div class="col-md-9">
      <div class="my-account order-table" id="my_account">
          <div>
              <h1 class="order-detail">Account Information</h1>
              <form>
                <div class="form-group">
                  <label for="name">Name</label>
                </div>
                <div class="row">
                  <div class="col-md-2 form-group">
                      <select class="form-control" id="power" required>
                        <option *ngFor="let title of titles">{{title}}</option>
                      </select>
                  </div>
                  <div class="col-md-5">
                      <input type="text" class="form-control" id="firstName" required>
                  </div>
                  <div class="col-md-5">
                      <input type="text" class="form-control" id="lastName">
                  </div>
                </div>
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="email" class="form-control" id="email">
                </div>
                <div class="form-group">
                    <label for="pwd">Password</label>
                    <input type="password" class="form-control" id="pwd">
                </div>
                <div class="row">
                  <div class="col-md-4">
                      <label for="date">Date Of Birth:</label>
                      <input type="date" class="form-control" id="date" required>
                  </div>
                  <div class="col-md-8">
                      <label for="mobile">Mobile Number</label>
                      <input type="number" class="form-control" id="mobile" required>
                  </div>
                </div>
                <button type="submit" class="btn btn-success">Update</button>
           
              </form>
          </div>
         
      </div>
  </div>
</div>

