<div class="row main">
  <div class="col-md-3" style="padding-left:50px">
    <div style="float: left;margin-left:3px;width: auto;">
      <div class="block-content">
          <ul>
            <li class="active">
              <a href="#">View Profile</a>
            </li>
            <li>
                <a href="#">Edit Profile</a>
            </li>
            <li>
                <a href="#">My Wishlist</a>
            </li>
            <li>
                <a href="#">Logout</a>
            </li>
          </ul>
      </div>
    </div>
  </div>
  <div class="col-md-9">
     <!--<app-edit-profile></app-edit-profile>-->
     <app-view-profile></app-view-profile>
  </div>
</div>

