<div class="row">
    <div class="col-md-4 col-md-offset-4" style="padding-top: 50px;">
        <div class="panel panel-default">
            <div class="panel-heading" style="text-align:center;">Reset Password</div>
            <div class="panel-body">
                <form>
                    <fieldset>
                        <div class="form-group">
                            <label>Old Password</label>
                            <input type="text" class="form-control" required>
                        </div>

                        <div class="form-group">
                            <label>New Password</label>
                            <input type="text" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Confirm Password</label>
                            <input type="text" class="form-control" required>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="panel-footer" style="text-align: center;">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>